{% extends 'EzLocSiteBundle::layout.admin.html.twig' %}

{% block leftmenu %}
    <a href="{{ path('place') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des lieux</a>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Supprimer</button>
    {{ form_end(delete_form) }}
{% endblock %}


{% block content %}
    <h1>Modifier lieu</h1>

    {{ form_start(edit_form) }}
    <div class="form-horizontal col-md-12">
        {% for item in edit_form if item.vars['name'] != '_token'%}
            <div class="form-group">
                <div class="col-md-4">
                    {{ form_label(item) }}
                </div>
                <div class="col-md-7">
                    {{ form_widget(item, {'attr' : {'class' : 'form-control'}} ) }}
                </div>
            </div>
        {% endfor %}
        {{ form_widget(edit_form._token) }}
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</button>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
