{% extends 'EzLocSiteBundle::layout.admin.html.twig' %}

{% block leftmenu %}
    <a href="{{ path('place_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter un lieu</a>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>Liste des lieux</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Sous Titre</th>
                <th>Actions</th>
                {% block tableth %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.subtitle }}</td>
                    {% block tabletd %}{% endblock %}
                    <td>
                        {% block personaction %}{% endblock %}
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{ path('place_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                            <a href="{{ path('place_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}